# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\yevhe\OneDrive\Documents\study\semester5\TW\Concurrency Theory\Lab4\NP_1C_asynchronized\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
